In [1]:
import pandas as pd

In [2]:
totalex = pd.read_csv("data.csv")

In [3]:
#totalex.info()
totalex.columns[1]

'2014'

In [4]:
totalex['Country']
count = 0
df = pd.DataFrame(columns=['Country', 'Year', 'Total_Expenditure'])
for i in range(0, len(totalex['Country'].unique())):
    for j in range(1, len(totalex.columns)):
        #print(totalex.loc[i,'Country'], end='')
        df.at[count, 'Country'] = totalex.loc[i,'Country']
        df.at[count, 'Year'] = totalex.columns[j]
       # print(totalex.columns[j])
        df.at[count, 'Total_Expenditure'] = totalex[totalex['Country'] == totalex['Country'][i]].T[1:].loc[totalex.columns[j]].values[0]
        count+=1

In [5]:
type(totalex[totalex['Country'] == totalex['Country'][0]].T[1:].loc[totalex.columns[1]].values)
# tmp.reset_index(level=0, inplace=True)
# tmp.columns = ['Year','Total_Expenditure']
# tmp

numpy.ndarray

In [6]:
df.head(100)

                Country  Year Total_Expenditure
0           Afghanistan  2014                12
1           Afghanistan  2013             10.59
2           Afghanistan  2012             11.67
3           Afghanistan  2011             10.17
4           Afghanistan  2010              14.4
5           Afghanistan  2009             12.73
6           Afghanistan  2008              6.93
7           Afghanistan  2007              2.95
8           Afghanistan  2006               6.3
9           Afghanistan  2005              5.49
10          Afghanistan  2004              6.98
11          Afghanistan  2003              5.58
12          Afghanistan  2002              8.99
13          Afghanistan  2001               NaN
14          Afghanistan  2000               NaN
15              Albania  2014              9.37
16              Albania  2013              9.76
17              Albania  2012              9.71
18              Albania  2011              9.85
19              Albania  2010              8.46
20              Albania  2009              8.46
21              Albania  2008              8.37
22              Albania  2007              8.88
23              Albania  2006              9.04
24              Albania  2005              9.67
25              Albania  2004              9.18
26              Albania  2003              7.76
27              Albania  2002              7.19
28              Albania  2001              7.25
29              Albania  2000              7.08
..                  ...   ...               ...
70               Angola  2004              6.25
71               Angola  2003              4.61
72               Angola  2002              3.38
73               Angola  2001              5.77
74               Angola  2000              2.86
75  Antigua and Barbuda  2014             18.08
76  Antigua and Barbuda  2013             16.29
77  Antigua and Barbuda  2012             17.16
78  Antigua and Barbuda  2011             15.18
79  Antigua and Barbuda  2010             16.36
80  Antigua and Barbuda  2009             11.38
81  Antigua and Barbuda  2008             12.27
82  Antigua and Barbuda  2007             10.81
83  Antigua and Barbuda  2006             10.07
84  Antigua and Barbuda  2005             12.08
85  Antigua and Barbuda  2004             10.69
86  Antigua and Barbuda  2003             11.89
87  Antigua and Barbuda  2002              9.88
88  Antigua and Barbuda  2001             10.75
89  Antigua and Barbuda  2000             11.42
90            Argentina  2014              6.92
91            Argentina  2013              7.72
92            Argentina  2012              8.74
93            Argentina  2011             11.82
94            Argentina  2010             14.07
95            Argentina  2009             17.13
96            Argentina  2008             15.79
97            Argentina  2007             15.37
98            Argentina  2006             16.35
99            Argentina  2005             16.67

[100 rows x 3 columns]

In [43]:
df.to_csv("file.csv")